.CardBackground {
    background-color: rgba(255, 255, 255, 0.9);
    width: 350px;
    height: 410px;
    border-radius: 8%;
    margin: 0 0 11vh 10vw;
    box-sizing: content-box;
    padding: 0% 20px 0% 20px;
}

.CardHeader {
    display: flex;
    text-align: center;
    box-sizing: content-box;
    padding: 10% 5% 3% 5%;
    justify-content: space-between;
}

.CardHeader > p {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    color: #cf4848;
}

.CurrentTimeZone {
    border: 1px solid #e75152;
    border-radius: 11px;
    margin-bottom: 10px;
}

.UserLocation {
    width: 100%;
    overflow: hidden;
}

.LocationInput {
    width: 94%;
    height: 40px;
    float: left;
    padding: 0% 2%;
    background: transparent;
    color: #797979;
    font-weight: bold;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

.DateWeekTimeDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(204, 71, 71, 0.9);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.DatePicker {
    background: transparent;
    border: none;
    font-size: 17px;
    width: 150px;
    color: white;
    font-weight: 700;
    
}

.TimeZoneText {
    margin-bottom: 5px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: bold;
}

.CardFooter {
    display: flex;
    justify-content: flex-end;
}

.CalendarIcon {
    color: #cc4747;
    margin-right: 15px;
    cursor: pointer;
}

.timeButtonsDiv {
    display: flex;
    margin-right: 2rem;
}

.TimeButton {
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    border: none;
    font-size: 10px;
    font-weight: bold;


    
}

.leftInput {
    width: 30%;
}

.TimeInput {
    background-color: rgba(204, 71, 71, 0.9);
    color: blue
}

@media only screen and (max-width: 600px) {
    .CardBackground {
        width: 280px;
        margin: 0 auto;   
    }
  }