.navBar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #333;
    height: 4.2rem;
    width: 100%;
    opacity: 0.6;
    color: white;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
  }

.logoImg {
  color: white;
  width: 150px;
  height: 20px;

  }

li {
  height: 30px;
  }