.HomeBackgroundDiv {
    width: 100%;
}

.cityButton {
    z-index: 8;
    position: absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 2rem;
}

.BackgroundImages {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.Btn {
    padding: 10px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: solid 1px;
    background-color: #cc4747;
    margin: 2% auto;
    opacity: 0.9;
    font-weight: 700;
  }

.cityLink {
    text-decoration: none;
    color: white;
 }